{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#id_domain').change(function() {
                var url = "{% url 'load_chapters' %}";
                var domain = $(this).val();
                $.ajax({
                    url: url,
                    data: {
                        'domain': domain
                    },
                    success: function(data) {
                        $('#id_subdomain').empty();
                        $('#id_subdomain').append('<option value="" disabled selected>In detail</option>');
                        $.each(data, function(key, value) {
                            $('#id_subdomain').append('<option value="' + value[0] + '">' + value[1] + '</option>');
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block confirmation %}
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
<br><br>
{% endblock %}