{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Quiz</h1>
    <form method="post" action="{% url 'submit_quiz' %}">
        {% csrf_token %}
        {% for question in questions %}
            <h3>{{ question.question_text }}</h3>
            {% for answer in question.answers.all %}
                <label>
                    <input type="radio" name="{{ question.id }}" value="{{ answer.id }}">
                    {{ answer.text }}
                </label><br>
            {% endfor %}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>

{% endblock %}