{% extends 'base.html' %}

{% block title %}
    <title>Alege activitatea</title>
{% endblock %}

{% block content %}
    <style>
        .button-container {
            text-align: center;
            margin: 20px 0;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s;
        }

        .button:hover {
            background-color: #0056b3;
        }
    </style>

    <h1>Alege activitatea:</h1>
    <div class="button-container">
        <a href="{% url 'card_list' %}" class="button">Printable Cards</a>
    </div>
    <div class="button-container">
        <a href="{% url 'rhymed_story' %}" class="button">Rhymed story with the planets</a>
    </div>
{% endblock %}
