<!DOCTYPE html>
<html>
<head>
    <title>Printable Images</title>
    <style>
        @media print {
            @page {
                size: A4;
                margin: 0;
            }
            body {
                margin: 0;
                padding: 0;
            }
            img {
                width: 100%;
                height: auto;
                page-break-after: always;
            }
        }
    </style>
</head>


<body>
    {% load static %}
    {% for url in image_urls %}
        <img src="{% static url %}" alt="Image">
    {% endfor %}
    {% load static %}
    <img src="{% static 'planetgame/Jupiter_and_its_shrunken_Great_Red_Spot.jpg' %}" alt="Image"
</body>
</html>